POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_HOST=cacheflow_db
DATABASE_PORT=5432
DATABASE_NAME=cache_flow

POOL_SIZE=10
MAX_OVERFLOW=20
POOL_TIMEOUT=30
POOL_RECYCLE=1800
POOL_PRE_PING=true

EMAIL_CODE_EXPIRE_MIN=10
SMTP_SERVER=smtp.example.com
SMTP_PORT=587
SMTP_USERNAME=example@example.com
SMTP_PASSWORD=example-password
SMTP_FROM=example@example.com

ACCESS_EXPIRE_MIN=15
REFRESH_EXPIRE_MIN=10080
TOKEN_KEY=super-secret-key

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin
